<h1>Find out your Scrabble score!</h1>
<form action="/score">
  <div class="form-group">
     <label for="score">Enter letter or word!
</label>
     <input id="score" name="score" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Calculate</button>
</form>
